.nav, .nav-left, .nav-right{
    display: flex;
    align-items: center;
    
}
.nav{
    background-color: #0a472e;
    padding: 20px;
    color: #fff;
}
.nav i{
    color: #fff;
}
@font-face {
    font-family: "Roboto-bold";
    src: url("../../fonts/Roboto-Bold.ttf");
}
@font-face {
    font-family: "Roboto-light";
    src: url("../../fonts/Roboto-Light.ttf");
}
.nav-left p{
    font-family: "Roboto-light";
}
.nav a{
    color: #fff;
    margin-right: 20px;
    font-size: 14px;
    transition: .4s;
    font-family: "Roboto-bold";
}
.nav-left i{
    margin-right: 20px;
    transition: .4s;
}
.nav-left{
    right: 0;
    padding-right: 50px;
    position: relative;
    cursor: pointer;
}
#burger-menu{
    position: absolute;
    top: 100%;
    background-color: #fff;
    left: -20px;
    right: 0;
    padding: 10px 10px 20px;
    box-shadow: 0 5px 5px 0 rgb(0 0 0 / 75%);
    border-radius: 4px;
    z-index: 10;
    transform: translateY(5%);
    display: none;
}
.open-menu{
    display: block !important;
}
#burger-menu::before{
    content: "";
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #fff;
    display: block;
    top: -5px;
    bottom: auto;
    position: absolute;
    left: 30px;
}
.menu-item{
    padding: 13px 0;
    border-bottom: 1px solid #e4e4e4;
    
}
.menu-item:hover p{
    color:#bac34e;
    transition: .4s;
}
.menu-item:last-child{
    border-bottom: none;
}
.menu-item p{
    color: #000;
    font-weight: 400;
}
.nav-right{
    border-left: 1px solid #e1e1e1;
    padding-left: 50px;
}
.nav-right a:hover{
    color: #bac34e;
}
.nav-right a:hover i{
    color: #bac34e;
}

@media(max-width:1000px){
    .nav-right{
        display: none;
    }
}
@media(max-width:400px){
    .nav-left p{
        font-size: 15px;
    }
}